<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/joinProc" method="post" name="joinForm">
        <p>아이디: </p>
        <input type="text" name="id" placeholder="Id"/><br/>
        <p>비밀번호: </p>
        <input type="password" name="pass" placeholder="Password"/><br/>
        <p>이름: </p>
        <input type="text" name="name" placeholder="Name"/><br/>
        <p>닉네임: </p>
        <input type="text" name="nickname" placeholder="Nickname"/><br/>
        <p>주소: </p>
        <input type="text" name="address" placeholder="Address"/><br/>
        <p>생년월일: </p>
        <input type="text" name="birth" placeholder="Birth"/><br/>
        <p>이메일: </p>
        <input type="text" name="email" placeholder="Email"/><br/>
        <p>핸드폰: </p>
        <input type="text" name="phone" placeholder="Phone"/><br/>
        <input type="submit" value="Join"/>
    </form>
</body>
</html>