<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<form th:action="@{/wootds/loginProc}" method="post" name="loginForm">
    <input id="username" type="text" name="username" placeholder="id"/>
    <input id="password" type="password" name="password" placeholder="password"/>
    <input type="submit" value="login"/>
</form>
<div th:if="${param.error}" style="color: red" class="error-message">아이디 혹은 비밀번호를 확인하세요.</div>
</body>
</html>